.navbar {
  background-color: rgb(255, 255, 255);
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.13);
  z-index: 10;
}

.navbar li {
  list-style: none;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  color: #2c2c2c;
  margin-left: 30px;
  text-align: center;
}

.nav-search {
  padding: 7px;
  border-radius: 0.5rem;
  border: 0;
  border-left: 0;
  border-right: 0;
  background-color: #fff;
}

.nav-item-container {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  margin: 0 20px;
  color: #5873fd;
  font-weight: bold;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item:nth-child(0) {
  margin: 0;
}

.nav-spacer {
  margin-bottom: 50px;
}
