.post-container {
  padding: 30px 30px 0px 30px;
  background-color: white;
  color: rgb(110, 110, 110);
  border-bottom: 1px solid rgb(209, 209, 209);
}

.post-title {
  color: #2c2c2c;
}

.post-thumbs-up {
  margin-right: 5px;
  margin-bottom: 100px;
}

.post-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post-details li {
  list-style-type: none;
  display: inline;
  margin: 10px;
  background-color: #5873fd;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
}
