.post-container {
  padding: 30px 10px 0px 30px;
  background-color: white;
  color: rgb(110, 110, 110);
  border-bottom: 1px solid rgb(209, 209, 209);
}

.post-info {
  display: flex;
  justify-content: space-between;
}

.post-options {
  display: flex;
  gap: 20px;
}

.post-edit {
  color: rgb(1, 116, 205);
}

.post-edit:hover {
  cursor: pointer;
}

.post-delete {
  color: rgb(214, 120, 120);
}

.post-delete:hover {
  cursor: pointer;
}

.post-title {
  color: rgb(1, 116, 205);
}

.post-title:hover {
  color: rgb(98, 218, 251);
}

.post-icons {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.post-icon svg {
  margin-right: 5px;
}

.post-icon p {
  display: inline;
  font-weight: bold;
}

.post-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  width: 100%;
}

.post-details li {
  list-style-type: none;
  display: inline;
  margin: 4px;
  background-color: #5873fd;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
}
.post-avatar-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-avatar-user svg {
  width: 100px;
  height: 75px;
  margin-right: -10px;
}
