.tags {
  padding: 10px;
  color: #5873fd;
  position: fixed;
  top: 100px;
}

.tags-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.tags-container {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.tag {
  padding: 5px;
  background-color: #5873fd;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}
