.home-container {
  display: flex;
  justify-content: space-between;
  height: 95vh;
}

.home-left-sidebar {
  background-color: rgb(124, 193, 233);
  flex: 1;
  height: 100%;
}

.home-posts-container {
  flex: 3;
}

.home-right-sidebar {
  flex: 1;
  background-color: rgb(124, 193, 233);
}
